@import "../../vars.css";

.container {
  /* position: relative; */
  margin-top: 12%;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-title);
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.skillContainer {
  max-width: 50rem;
  margin: auto;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill {
  background-color: rgb(241, 241, 241);
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(241, 227, 255);
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
}

.skill:hover {
  transform: scaleY(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.skill img {
  width: 40%;
}

.skill p {
  padding-top: 5px;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 760px) {
  .container {
    margin-top: 40%;
  }

  .skill {
    transition: none;
    width: 35%;
  }

  .skill img {
    width: 55%;
  }

  .skill p {
    font-size: 14px;
  }
}
