@import "../../vars.css";

.container {
  position: relative;
  background-color: var(--color-text-secondary);
  border-radius: 15px;
  padding: 73px;
  margin: 10% 10%;
  z-index: 1;
}

.title {
  color: var(--color-text-primary);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  margin: 5% 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aboutImage {
  width: 25%;
  padding-right: 30px;
}

.aboutItemText {
  font-size: 18px;
  color: var(--color-text-primary);
}

.content span {
  display: none;
}

/* .aboutItems {
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    #5e3da1 0%,
    rgba(247, 139, 139, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem img {
  width: 25px;
  margin: 10px;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 25px;
} */

@media screen and (max-width: 940px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    margin: 35% 10%;
  }

  .title {
    padding: 3%;
    font-size: 30px;
  }

  .aboutItem {
    color: var(--color-text-secondary);
  }

  .content {
    flex-direction: column;
    padding: 3%;
  }

  .aboutImage {
    display: none;
  }

  .aboutItemText {
    display: none;
  }

  .content span {
    display: block;
    color: var(--color-text-primary);
  }

  /* .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }

  .aboutItem h3 {
    font-size: 25px;
    font-weight: 700;
  }

  .aboutItem p {
    font-size: 20px;
  } */
}
