@import "../../vars.css";

.container {
  margin: 79px 10%;
  font-family: var(--font-roboto);
}

.title {
  color: var(--color-title);
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3%;
  row-gap: 10%;
}

.historyItem {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.17);
  transition: all 0.2s ease-in;
  border-radius: 10px;
}

.historyItem:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.experience {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.experience img {
  width: 50px;
  height: 50px;
  background-color: var(--color-dark);
  border-radius: 5px;
}

.historyDetails h3 {
  font-size: 20px;
  font-weight: bold;
}

.historyDetails p {
  font-size: 13px;
  font-weight: 600;
}

.description {
  margin-top: 5%;
  margin-left: 18%;
}

.description ul {
  list-style: circle;
  list-style-position: outside;
}

@media screen and (max-width: 630px) {
  .container {
    margin: 20% 10%;
  }
  .history {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2%;
  }
}
