:root {
  --color-title: rgb(46, 14, 100);
  --color-text-primary: #fff;
  --color-text-secondary: rgb(67, 22, 144);
  --color-button: rgb(90, 41, 236);
  --color-dark: rgb(197, 162, 253);
  --font-outfit: "Outfit"
  --font-roboto: "Roboto";
}
